.list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-enter {
  right: 300px;
  opacity: 0;
}
.item-enter-active {
  right: 0px;
  opacity: 1;
  transition: 0.7s ease-in all;
}
.item-exit {
  right: 0px;
  opacity: 1;
}
.item-exit-active {
  right: 300px;
  opacity: 0;
  transition: 0.7s ease-in all;
}
